.page-header 
  width 100%
  background-image url(../img/header-background.jpg)
  background-repeat no-repeat
  background-size 100%
  background-color #8c5f0c
  .container
    width 1160px
    max-width 100%
    margin 0 auto
    .main-header-navigation
      display flex
      justify-content center 
      padding-top 60px
      .main-nav
        display flex
        justify-content space-between
        margin-left 50px
        list-style none 
        text-transform uppercase
        li
          margin-right 70px
          a
            text-decoration none
            color white
            font-weight bold
            &:hover
              color #e6b48e 
            &:active
              color rgba(255, 255, 255, 0.3)
    #slides
      position relative
      height 300px
      width 100%
      padding-bottom 350px
      list-style-type none
      color white
      font-size 72px
      font-weight bold
      line-height 72px
      text-align center
      .slide
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        opacity 0
        z-index 1
        box-sizing border-box
      .showing
        opacity 1
        z-index 2
.container
  width 1160px
  max-width 100%
  margin 0 auto
  .new-and-price 
    margin-top 5px
    h3 
      font-size 32px
      text-transform uppercase
    
    .new-items
      display flex
      .new-item
        padding-right 30px
        padding-left 30px
        border-left 1px solid rgba(0, 50, 50, 0.1) 
        border-right 1px solid rgba(0, 50, 50, 0.1)
        &:first-child
          border-right none
        .block-item
          display flex
          flex-direction row-reverse
          table, td
            font-size 16px
            font-weight bold
            text-transform uppercase

            border 1px solid rgba(0, 50, 50, 0.1)
            border-collapse collapse
            td
              padding 10px 20px
            caption
              font-size 14px
              font-weight normal
              text-transform none
              caption-side bottom
              text-align left
              color rgb(82, 75, 75);
      .btn 
        display inline-block
        padding 16px 40px
        margin-right 20px
        
        font-size 16px
        font-weight bold
        text-align center
        text-transform uppercase
        vertical-align middle
        text-decoration none
        color #804325
        border 3px solid #804325
      .btn-brown
        color white
        background-color #804325

        







    

    
