.page-header 
  background-color red
  .main-nav
    list-style none 
    text-transform uppercase
    a
      text-decoration none
      color white
      &:hover
        color #e6b48e 
      &:active
        color rgba(255, 255, 255, 0.3)

    
