@import '../../../node_modules/normalize-styl/normalize.styl'
@import './fonts'
@import './icons'
@import './header'
@import './category'
@import './sidebar'
@import './post'
@import './btns'

*
  box-sizing border-box

html
  height 100%

body
  height 100%
  font-family Arial, Helvetica, sans-serif
  font-size 16px
  line-height 30px
  color #000
  display flex
  flex-direction column
  height 100%

.section-title 
  font-size 40px
  line-height 47px
  text-transform uppercase
  @media (max-width: 1160px)
    font-size 36px
    line-height 36px
  @media(max-width: 760px)
    text-align center
    font-size 24px
    line-height 24px
.wrapper
  flex 1 0 auto

//.container
  // ОПИСАТЬ ТУТ СТИЛИ ДЛЯ КОНТЕЙНЕРА
// media < 1160px ->  width 760px
// media < 760px -> width 100%
.container // ВЫПИЛИТЬ И СДЕЛАТЬ ОДИН ОБЩИЙ
  width 1160px
  max-width 100%
  margin 0 auto
  @media (max-width: 1160px)
    width:760px;
    padding-right 10px
    padding-left 10px
  @media (max-width: 760px)
    width:100%;
 .new-and-price 
    margin-top 5px
    background-color white
    h3 
      font-size 32px
      text-transform uppercase
      @media(max-width: 760px)
       font-size 24px 
    .new-items
      display flex
      justify-content space-between
      @media(max-width: 760px)
        display flex
        flex-direction column
      .new-item
        width 580px
        padding-left 30px
        padding-right 30px
        border-left 1px solid rgba(0, 50, 50, 0.1) 
        border-right 1px solid rgba(0, 50, 50, 0.1)
        &:first-child
          border-right none
        @media (max-width: 760px)
          display flex
          flex-direction column
          width auto
          margin 0 auto
          padding-left 10px
          padding-right 10px
          border none
        .block-item
          display flex
          flex-direction row-reverse
          justify-content flex-end
          @media (max-width: 1160px)
            flex-direction column
          table, td
            width:40%
            font-size 16px
            font-weight bold
            text-transform uppercase
            border 1px solid rgba(0, 50, 50, 0.1)
            border-collapse collapse
          table
            @media (max-width: 1160px)
              width 100%
              table-layout fixed
              margin-bottom 20px
            td
              padding 10px 20px
            caption
              font-size 14px
              font-weight normal
              text-transform none
              caption-side bottom
              text-align left
              color rgb(82, 75, 75);
          img 
            width 100%
            max-width 300px
            height auto
   /*-------------------------features-------------------------------------------*/       
  .features
    display flex
    margin-top 50px
    background-color #ffcb78
    .container
      width 1650px
      margin 0 auto
      .features-list
        display flex
        list-style none
        justify-content space-around
        @media (max-width: 760px)
          flex-direction column
          padding-left 10px
        h2 
          font-size 16px
          line-height 23px
          font-weight bold
          font-family "Arial", sans-serif
          text-transform uppercase
          text-decoration none
          color black
        .feature-item
          width 30%
          padding-right 60px
          padding-left 50px
          padding-top 80px
          padding-bottom 50px
          border-right 1px solid rgba(0, 50, 50, 0.1)
          &:last-child
            border none 
          @media (max-width: 760px)
            width 100%
            padding-left 0
            padding-right 0
            border none
        .feature-cook
          background-image url(../img/pic1.svg)
          background-position 30px 10px
          background-size 80px 80px
          background-repeat no-repeat
        .feature-native
          background-image url(../img/pic2.svg)
          background-position 35px 0
          background-size 80px 80px
          background-repeat no-repeat
        .feature-quality
          background-image url(../img/pic3.svg)
          background-position 50px 0
          background-size 80px 80px
          background-repeat no-repeat
        /*-------------------------history-------------------------------------------*/  
  .history
    padding-top 70px
    padding-bottom 60px
    background-color white
    @media (max-width: 760px)
      padding-top 30px
    .history-list  
      display flex
      flex-direction column
      .history-title
        display flex
        align-items flex-start
        justify-content space-between
        flex-wrap wrap
        margin-top 0
        margin-bottom 20px
        font-size 24px
        font-weight bold
        b   
          margin 0
          padding-bottom 30px
          font-size 32px
          line-height 27px
          font-weight bold
          @media (max-width: 760px)
           font-size 20px 
        .history-source  
          font-size 16px
          font-style italic
          color black
          a
            margin-left 5px
            color #834700
            &:hover
              color rgba(179, 113, 34, 0.5)
            &:active 
              color rgba(255, 203, 120,0.5)
      .history-text   
        margin 0
        display flex
        justify-content space-between
        &:first-of-type
          margin-bottom 80px
        @media (max-width: 1160px)
          display flex
        @media (max-width: 760px)
          display flex
          flex-direction column
        img 
          width 470px
          margin-left 120px
          border-radius 5px
          @media (max-width: 760px)
            width 100%
            margin 0 auto
        /*-------------------------press-------------------------------------------*/
  .press 
    padding-top 70px
    padding-bottom 60px
    padding-left 50px
    padding-right 50px
    background-color #ede5d8
    @media (max-width: 760px)
      padding-left 10px
      padding-right 10px
    .press-review
      margin 0
      display flex
      flex-wrap wrap
      justify-content space-between
      .press-text
        position relative
        margin 0
        margin-bottom 50px
        margin-top:85px
        padding-right 110px
        &::before 
          content ""
          position absolute
          top 10px
          left -100px
          width 50px
          height 50px
          background-image url(../img/spritesheet.png)
          background-repeat no-repeat
          background-position -10px -150px
        @media (max-width: 760px)
          margin-bottom 20px
          margin-top:10px
          padding-right 0
          text-align left
    .wrap-source
      display flex
      flex-direction row
      align-items center
      justify-content space-between
      width 100%
      @media (max-width: 760px)
        flex-direction column-reverse
        align-items flex-end
      .press-author
        font-size 24px
        font-weight bold
        text-transform uppercase
        font-style none
        @media (max-width: 760px)
          font-size 14px
          text-align right
           
        
      /*-------------------------product-and-price-------------------------------------------*/
  .product-and-price
    display block
    padding-top 50px
    padding-bottom 100px
    @media (max-width: 760px)
      padding-top 20px
      padding-bottom 30px
    .section-title
      @media (max-width: 760px)
        cursor pointer
    .price-list
      width 100%
      border-collapse collapse
      @media (max-width: 760px)
        display table
      td,th
        border-bottom 1px solid #aba6a6
        padding 20px 10px
        text-transform uppercase
        @media (max-width: 760px)
          display flex
          justify-content space-between
          font-size 14px
          &:before
            content attr(data-label)
            font-weight bold
            margin-right 20px
          &:last-child
            border-bottom none
      th 
        font-weight normal
        text-align left
        text-transform uppercase
        color #aba6a6
        @media (max-width: 760px)
          display none //Скроем названия в шапке таблицы
      .price-name
        font-weight bold
        @media (max-width: 760px)
          display block
          text-align center
          background-color #eee
        sup
          margin-left 20px
          padding 3px
          color white
          background-color black
          border-radius 3px
                /*-------------------------feedback-------------------------------------------*/
  .feedback
    padding-top 50px
    padding-bottom 70px
    background-color #ffcb78
    color black
    .form-container
      width 850px
      @media (max-width: 1160px)
        width 100%
      p   
        padding-top 50px
        padding-right 150px
        padding-bottom 50px
        color rgb(68, 68, 70)
        @media (max-width: 760px)
          padding-right 0
          padding-top 20px
          padding-bottom 20px
      .feedback-form
        font-size 16px
        line-height 30px
        text-transform uppercase
        font-weight bold
        .feedback-form-group
          margin-bottom 20px
          label
            display block
          input
            display block
            width 100%
            border none
            outline none
            padding 10px
            background rgba(0, 0, 0, 0.2)
          .select 
            position relative
            display block
            width 100%
            overflow hidden
            &::after 
              content '\25BC'
              position absolute
              top 12px
              right 0
              padding 0 1em
              cursor pointer
              pointer-events none
              color rgb(186,146,85)
            select
              -webkit-appearance none
              -moz-appearance none
              -ms-appearance none
              appearance none
              outline 0
              box-shadow none
              border 0!important
              background rgba(0, 0, 0, 0.2)
              padding 10px
              width 100%
              text-transform uppercase
              color rgb(186,146,85)
          textarea
            background rgba(0, 0, 0, 0.2)
            width 100%
            border none 
            outline none

          input[type='checkbox'] 
            display none
          .checkbox-label 
            font-size 10px
            line-height 22px
            &:before 
              content ''
              display inline-block
              width 30px
              height 30px
              background-color rgba(0, 0, 0, 0.2)
              cursor pointer
              margin-right 10px
              
          input[type="checkbox"]:checked
            & + label
              &::before
                content ""
                background-image url(../img/correct-symbol3.png)
                background-repeat no-repeat
                background-position 50% 50%
     
        .form-phone
          display flex
          flex-wrap wrap
          justify-content space-between
          .feedback-form-group
            width 47%
            margin-bottom 0
            @media (max-width: 760px)
              width 100%

            /*-------------------------footer-------------------------------------------*/
  footer
    display flex
    flex 0 0 auto
    background-color black
    padding-top 50px
    .main-nav-footer
      display flex
      justify-content space-between
      margin-left 30px
      margin-right 30px
      @media (max-width: 760px)
        display block
      .footer-logo 
        margin-right 50px
        @media (max-width: 760px)
          margin-right 0
          text-align center
      .main-nav-list
        display flex
        justify-content space-between
        list-style none 
        text-transform uppercase
        padding-left 0
        padding-right 0
        padding-top 10px
        padding-bottom 10px
        border-top 1px solid rgba(255, 203, 120,0.3)
        border-bottom 1px solid rgba(255, 203, 120,0.3)
        @media (max-width: 1160px)
          font-size 12px
          line-height 36px
          align-items center
        @media (max-width: 760px)
          flex-direction column
          border none
          align-items flex-start
        li
          margin-right 30px
          cursor pointer
          &:last-child
            margin-right 0
          a
            text-decoration none
            color white
            font-weight bold
            &:hover
              color #e6b48e 
            &:active
              color rgba(255, 255, 255, 0.3)
    .footer-bottom
      display flex
      justify-content space-between
      align-items center
      margin-top 60px
      margin-bottom 0
      @media (max-width: 1160px)
        flex-wrap wrap
        font-size 24px
        line-height 36px
        margin-top 10px
      @media (max-width: 760px)
        display block
    .social-list
      display flex
      list-style none
      @media (max-width: 760px)
        padding 0
      .social-item
        display inline-block
        position relative
        width 80px
        height 80px
        vertical-align top
        background-color #1b1b1b
        border 1px solid rgba(255, 203, 120,0.1)
      .inst
        background-image url(../img/sprite.svg)
        background-repeat no-repeat
        background-position -120px 8px
      .fb
        background-image url(../img/sprite.svg)
        background-repeat no-repeat
        background-position 32px 8px
      .vk
        background-image url(../img/sprite.svg)
        background-repeat no-repeat
        background-position -50px 8px
    .footer-copyright
      display flex
      justify-content space-between
      width 730px
      margin-left 100px
      font-size 14px
      color #bbbbbb
      @media (max-width: 1160px)
        flex-direction column-reverse
        margin-left 40px
      @media (max-width: 760px)
        margin 0
        width 100%
      p  
        margin-right 100px
        width 300px
        @media (max-width: 760px)
          width auto
          line-height 24px
    .copyright
      display flex
      align-items center
      font-size 14px
      color #bbbbbb
      .copyright-link
        position relative
        width 80px
        height 80px
        background-color #1b1b1b
        border 1px solid rgba(255, 203, 120,0.1)
        img 
          position absolute
          top 25px
          left 25px
      .copyright-dev
        margin-left 20px
  .modal
    display none
    position fixed
    top 50%
    left 50%
    transform translate(-50%, -50%)
    width 300px
    max-width 100%
    height 120px
    max-height 100%
    background-color #ffcb78;
    border 2px solid #ba9255
    .modal-content
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      padding-top 20px
      padding-left 100px
      padding-bottom 20px
      padding-right 50px 
      .modal-close
        position absolute
        top 5px
        right 20px
        font-size 24px
        font-weight bold
        color black
        cursor pointer
      p 
        font-size 18px
        font-weight bold 
  .invalid
    border 1px solid red
  

            





