  .new-and-price 
    margin-top 5px
    .container
      width 1160px
      max-width 100%
      margin 0 auto
      @media (max-width: 940px)
        padding-right 10px
        padding-left 10px
      h3 
        font-size 32px
        text-transform uppercase
      
      .new-items
        display flex
        .new-item
          padding-right 30px
          padding-left 30px
          border-left 1px solid rgba(0, 50, 50, 0.1) 
          border-right 1px solid rgba(0, 50, 50, 0.1)
          &:first-child
            border-right none
          .block-item
            display flex
            flex-direction row-reverse
            justify-content flex-end
            table, td
              width:40%
              font-size 16px
              font-weight bold
              text-transform uppercase

              border 1px solid rgba(0, 50, 50, 0.1)
              border-collapse collapse
              td
                padding 10px 20px
              caption
                font-size 14px
                font-weight normal
                text-transform none
                caption-side bottom
                text-align left
                color rgb(82, 75, 75);
        .btn 
          display inline-block
          padding 16px 40px
          margin-right 20px
          
          font-size 16px
          font-weight bold
          text-align center
          text-transform uppercase
          vertical-align middle
          text-decoration none
          color #804325
          border 3px solid #804325
        .btn-brown
          color white
          background-color #804325
   /*--------------------------------------------------------------------*/       
  .features
    display flex
    margin-top 50px
    background-color #ffcb78
    .container
      width 1550px
      max-width 100%
      margin 0 auto
      @media (max-width: 940px)
        padding-right 10px
        padding-left 10px
      .features-list
        display flex
        list-style none
        .feature-item
          
          padding-right 60px
          padding-left 50px
          padding-top 80px
          padding-bottom 50px
          border-right 1px solid rgba(0, 50, 50, 0.1)
          &:last-child
            border none 
        .feature-cook
          background-image url(../img/pic1.svg)
          background-position 30px 10px
          background-size 80px 80px
          background-repeat no-repeat
        .feature-native
          background-image url(../img/pic2.svg)
          background-position 35px 0
          background-size 80px 80px
          background-repeat no-repeat
        .feature-quality
          background-image url(../img/pic3.svg)
          background-position 50px 0
          background-size 80px 80px
          background-repeat no-repeat


  .history
    padding-top 70px
    padding-bottom 60px
    .container
      width 1160px
      max-width 100%
      margin 0 auto
      @media (max-width: 940px)
        padding-right 10px
        padding-left 10px
        dl  
          width 830px
          dt  
            margin-top 0
            margin-bottom 10px
          dd   
            margin 0
        .theory-container
          margin-bottom 70px
          .history-title
            font-size 24px
            font-weight bold
            .history-source
              font-size 16px
              font-weight normal
              font-style italic
              a 
                color #804325
                &:hover
                  color rgba(179, 113, 34, 0.5)
                &:active 
                  color rgba(255, 203, 120,0.5)
          .history-text
            img 
              border-radius 5px
  .review 
    padding-top 70px
    padding-bottom 60px
    padding-left 50px
    padding-right 50px
    background-color #ede5d8
    .container
      width 1160px
      max-width 100%
      margin 0 auto
      @media (max-width: 940px)
        padding-right 10px
        padding-left 10px
      .review-btn
        display inline-block
        padding 10px 20px
        margin-right 20px
        
        font-size 16px
        font-weight bold
        text-align center
        text-transform uppercase
        vertical-align middle
        text-decoration none
        color #aba6a6
        border 3px solid rgba(214,206,195,0.5)
      .review-author
        font-size 24px
        font-weight bold
        text-transform uppercase
        font-style none 

  .product-and-price
    .container
      width 1160px
      max-width 100%
      margin 0 auto
      @media (max-width: 940px)
        padding-right 10px
        padding-left 10px
      .price-list
        width 100%
        border-collapse collapse
        th 
          font-weight normal
          text-align left
          text-transform uppercase
          color #aba6a6
        td,th
          border-bottom 1px solid #aba6a6
          padding 20px 10px
          text-transform uppercase
        .price-name
          font-weight bold
          sup
            color white
            background-color black

  .feedback
    .container
      width 1160px
      max-width 100%
      margin 0 auto
      @media (max-width: 940px)
        padding-right 10px
        padding-left 10px



